<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Moodle</title>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <link rel="icon" type="image/x-icon" href="/public/sources/icon.png">
</head>
<body>

<header id="header">
    <nav>
        <ul>
            <li><a href="loginregister.ejs">Belépés/Regisztráció</a></li>
            <li><a href="results.ejs">Results</a></li>
        </ul>
    </nav>
</header>

<h1>Haii :3</h1>
<p></p>
</body>
</html>