<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('assets/head') %>

</head>

<header>
    <%- include('assets/header')%>
</header>
<body>
<div>
    <div>
        <a href="/tests">Tests</a>
    </div>
    <div>
        <a href="/results">Results</a>
    </div>
    <% if(current_role==="ROLE_ADMIN" || current_role==="ROLE_TEACHER"){%>
    <div>
        <a href="/questions">Questions</a>
    </div>
    <%}%>
    <% if(current_role==="ROLE_ADMIN"){%>
    <div>
        <a href="#">User Role Manager</a>
    </div>
    <%}%>
</div>
</body>
</html>