<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('assets/head') %>
</head>
<header>
    <%- include('assets/header') %>
</header>
<body>
your results.


<%if (current_role==="ROLE_ADMIN" || current_role==="ROLE_TEACHER"){ %>
    <div>
        <a href="/allResults">All student results</a>
    </div>
<% } %>
</body>
</html>