<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../public/css/style.css">
  <title>Test</title>
</head>
<body>
<h1><%= test.name%></h1>

<!-- Form to take input for the number of sections -->
<form action="/numberOfQuestions" method="post" >
  <label for="sectionCount" >Number of Questions:</label>
  <input type="number" id="sectionCount" name="sectionCount" style="width: 30px" required>
  <button type="submit">Submit</button>
</form>



</body>
</html>