<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Test</title>
</head>
<body>
<%= test.id%>
<form action="/updateTestQ/<%= test.id%>" method="post" id="testForm">
    <label for="testName"><%= test.name%></label>
    <div>
    <label for="question">Add new questions:</label>
    <input type="text" id="question" name="question" placeholder="Question" rows="4" cols="50" required>
    </div>
    <div>
    <input type="text" id="correct_answer" name="correct_answer" placeholder="correct answer"rows="4" cols="50" required>
    <input type="text" id="wrong_answer1" name="wrong_answer1" placeholder="wrong answer"rows="4" cols="50" required>
    <input type="text" id="wrong_answer2" name="wrong_answer2" placeholder="wrong answer"rows="4" cols="50" required>
    <input type="text" id="score" name="score" placeholder="score"rows="4" cols="50" required>
    </div>
    <input type="submit" value="Submit">
</form>
</body>
</html>