<header id="header">
    <nav>
        <div class="topnav">
            <a class="active" href="/main">Home</a>
            <a class="logoutbutton" href="/logout">Logout</a>
            <div class="usernameview">Current user: <%= current_username%></div>
        </div>
    </nav>
</header>